
* {
  box-sizing: border-box;

  /* Make the invisible visible */
  border: thin red solid;
}

h1 {
  height: 200px;
  background-color: grey;
}

.threecolumn {
  width: 33%;
  float: left;
  padding-bottom: 10px;
}

.threecolumn-right {
  width: 33%;
  float: right;
  padding-bottom: 315px;

}

.image-left {
  width: 66%;
  float: left;
}

.fourcolumn {
  width: 25%;
  float: left;
  padding-bottom: 10px;
}

.footer {

  float: bottom;
  clear: both;

}

a:link {
  background-color: blue;
  border-radius: 15px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
